// style/variables/_variables.scss
$font-body: 'Ubuntu', 'Arial', sans-serif;
$font-header: 'Ubuntu', 'Arial', sans-serif;

$line-height: 1.4;
$body-font-size: 1rem;
$magic-number: 1.4rem;
$white: #fff;
$black: #000;
$grey: rgb(148, 148, 148);
$dark-grey: rgb(107, 107, 107);
$light-grey: rgba(190, 190, 190, 0.32);
$green: rgb(0, 171, 59);
$light-green: rgb(232, 247, 228);
$main-padding: 0.5 * $magic-number;
